[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
venmo-api = "*"
python-dotenv = "*"
flask-apscheduler = "*"
gspread = "*"
oauth2client = "*"
gunicorn = "*"
bson = "*"
pymongo = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
